<form class="container" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="email">Email: </label>
    <input
      type="text"
      id="email"
      class="form-control"
      formControlName="email"
    />
    <span
      class="input-warning"
      *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched"
      >Please provide a valid email</span
    >
  </div>
  <hr />
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password" />
    <span
      class="input-warning"
      *ngIf="
        !loginForm.get('password').valid && loginForm.get('password').touched
      "
      >Password needs to be at least 6 characters long</span
    >
  </div>
  <button type="submit" [disabled]="!loginForm.valid">Log in</button>
</form>
