<div>
  <div
    class="card"
    *ngIf="!isLoggedIn"
    [ngClass]="{ processing: isProcessing }"
  >
    <div class="card modal" *ngIf="isProcessing">Loggin in, please wait</div>
    <app-login-form (validatedUserData)="attemptLogin($event)"></app-login-form>
  </div>
  <div class="card" *ngIf="isLoggedIn">
    <h3>Great Success!</h3>
    <iframe
      src="https://giphy.com/embed/a0h7sAqON67nO"
      width="240"
      frameBorder="0"
      class="giphy-embed"
      allowFullScreen
    ></iframe>
  </div>
</div>
<!-- height="270" -->
